<VirtualHost *:80>

    ServerName {{ host_name }}
    ServerAdmin root@{{ host_name }}
    Options  -Indexes
    DocumentRoot {{  document_root  }}
# Locationディレクティブ、Directoryディレクティブ使用時は、反映の優先順位に注意を払うこと！！
# http://httpd.apache.org/docs/2.4/ja/sections.html#page-header
# Direcotryディレクティブは記述順ではなくて、ディレクトリの短い設定から順に適用されて、ディレクトリの長い設定は最後に適用される。
# Location(やその他の)ディレクティブなどについては記述順に適用される
# http://d.hatena.ne.jp/hogem/20091029/1256827891

# .htaccessはデフォ不可なので許可設定
    <Directory {{ document_root }}>
        AllowOverride All
    </Directory>

#Apache2.4では、明示的に/に対するアクセス制御を書かないとアクセス不可になるようです。
    <Directory {{ document_root }}>
      Require all granted
      Options -Indexes
    </Directory>

# Adminer
    <Directory /var/www/adminer>
      Require all granted
      Options -Indexes
      AllowOverride All
    </Directory>
    Alias /adminer /var/www/adminer

    LogFormat "%h %l %u %t \"%r\" %>s %b \"%{Referer}i\" \"%{User-Agent}i\" T:%T D:%D I:%I O:%O" {{ host_name }}_log
    CustomLog /var/log/httpd/{{ host_name }}/access_log {{ host_name }}_log
    ErrorLog /var/log/httpd/{{ host_name }}/error_log

</virtualHost>
